<div class="float-right">
</div>

			


<div>

 &nbsp;&nbsp;<a class="btn btn-default" href="#" onClick="$('#api_settings').toggle();return false;"><#LANG_SETUP#></a>
</div>

<div style="display:none" id='api_settings'>
&nbsp;
<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
<fieldset>

<div class="form-group">
 <label class="control-label"> login: (*) </label>
 <div class="col-lg-6"><input type="text" class="form-control" name="login" value="[#login#]" class="input"></div>
</div>

<div class="form-group">
 <label class="control-label"> password: (*) </label>
 <div class="col-lg-6"><input type="text" class="form-control" name="pwd" value="[#pwd#]" class="input"></div>
</div>
	
<div class="form-group">
 <label class="control-label"> type </label>
 <div class="col-lg-6"><input type="text" class="form-control" name="type" value="[#type#]" class="input"></div>
</div>	

<br>
 <div class="controls">
Выберите консоль:	 
		<select name="type" class="input span2">
			<option[#if type="elfet"#] selected[#endif#]>elfet
			<option[#if type="nickola"#] selected[#endif#]>nickola
			<option[#if type="spyrosoft"#] selected[#endif#]>spyrosoft
			<option[#if type="alpust"#] selected[#endif#]>alpust				
				
				 
		
		 </select>  
 </div>
	
<br>
				
 <div class="controls">
Выберите файловый менеджер:	 
		<select name="typefm" class="input span2">
			<option[#if type="alexantr"#] selected[#endif#]>alexantr
			<option[#if type="prasathmani"#] selected[#endif#]>prasathmani
			
				
				 
		
		 </select>  
 </div>
	
<br>				
				<br><br>

<div class="form-actions">
<button type="submit" name="subm" value="Submit" class="btn btn-primary"><#LANG_UPDATE#></button>
<input type="hidden" name="view_mode" value="update_settings">
<input type="hidden" name="mode" value="update">
</div>
</fieldset>
</form>
</div>

<br/>
<ul class="nav nav-tabs">
<li [#if TAB=="" || TAB=="console" #] class="active" [#endif#]><a href="?data_source=<#DATA_SOURCE#>&view_mode=&id=<#ID#>&tab=console">Console</a> </li>
<li [#if TAB=="fm" #] class="active" [#endif#]><a href="?data_source=<#DATA_SOURCE#>&view_mode=&id=<#ID#>&tab=fm">File Manager</a> </li>
<li [#if TAB=="help" #] class="active" [#endif#]><a href="?view_mode=<#VIEW_MODE#>&tab=help">Help</a> </li>	
	
</ul>
				
[#if TAB="console" || TAB==""#] <iframe src="/modules/webconsole/[#type#]/webconsole.php" width="100%" height="800" align="left">
    Ваш браузер не поддерживает плавающие фреймы!
 </iframe>
[#endif#]
				
[#if TAB="fm"#] 
 <iframe src="/modules/webconsole/[#typefm#]/webconsole.php" width="100%" height="800" align="left">
    Ваш браузер не поддерживает плавающие фреймы!
 </iframe>
[#endif#]				

[#if TAB="help"#] [#inc help.html#] [#endif#]
